@page "/"

<PageTitle>Home</PageTitle>

@rendermode InteractiveServer

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benvenuto al Birrificio Roma</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }

        .main-container {
            background-color: #b0c4de;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            background-color: #008080;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #fffafa;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            color: #fffafa;
        }
    </style>
</head>
<body>
    <section class="main-container">
        <div class="container">
            <h1>Benvenuti al Birrificio Roma!</h1>
            <p>Benvenuti nel nostro amato birrificio! Siamo entusiasti di accogliervi nel cuore della nostra passione per la birra artigianale.</p>
            <p>Qui, ogni goccia racconta una storia di dedizione, qualità e sapore autentico. </p>
            <p>Siete ora parte della nostra famiglia birraria, dove l'arte della produzione si mescola con l'esperienza unica di gustare birre uniche.</p>
            <p>Esplorate i nostri sapori audaci, immergetevi nell'atmosfera conviviale e lasciate che ogni sorso vi conduca in un viaggio di piacere sensoriale.</p>
            <p>Grazie per essere qui, solleviamo i bicchieri a nuove amicizie e a momenti indimenticabili. Alla Salute!</p>
        </div>
    </section>
</body>
</html>
